<app-navbar></app-navbar>

<div class="container-fluid" style="background-color: #EEEEEE">
  <router-outlet></router-outlet>
  <hr class="featurette-divider">



  <footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2">
          <circle cx="12" cy="12" r="10"></circle>
          <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
          <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
          <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
          <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
          <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
          <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
        </svg>
        <small class="d-block mb-3 text-muted">&copy; 2018</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" [routerLink]="['/algorithms']">See all algorithms</a></li>
          <li><a class="text-muted" [routerLink]="['/algorithms/trend-follow']">Trend Follow</a></li>
          <li><a class="text-muted" [routerLink]="['/algorithms/rsi-divergence']">RSI Divergence</a></li>
          <li><a class="text-muted" [routerLink]="['/algorithms/random-forest-regression']">Random Forest Regression</a></li>
          <li><a class="text-muted" [routerLink]="['/algorithms/mean-reversion']">Mean Reversion</a></li>
          <li><a class="text-muted" [routerLink]="['/algorithms/buy-apple']">Buy Apple Everyday</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://www.zipline.io">Zipline API Docs</a></li>
          <li><a class="text-muted" href="https://www.quantopian.com/">Quantopian</a></li>
          <li><a class="text-muted" href="#">Coming soon</a></li>
          <li><a class="text-muted" href="#">Coming soon</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>References</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Coming soon</a></li>
          <li><a class="text-muted" href="#">Coming soon</a></li>
          <li><a class="text-muted" href="#">Coming soon</a></li>
          <li><a class="text-muted" href="#">Coming soon</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://github.com/Novacer/alpharithmic-trading">Github</a></li>
          <li><a class="text-muted" href="#">Coming soon</a></li>
          <li><a class="text-muted" href="#">Coming soon</a></li>
          <li><a class="text-muted" href="#">Coming soon</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
