<div class="container-fluid">
  <div class="body">
    <mat-vertical-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="firstForm">
        <form [formGroup]="firstForm">
          <ng-template matStepLabel>Basic Configuration</ng-template>

          <div class="row">
            <div class="col-md-4 mb-3">
              <mat-form-field>
                <input matInput [matDatepicker]="picker1" placeholder="Simulation Start" [value]="startDate.value">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-4 mb-3">
              <mat-form-field>
                <input matInput [matDatepicker]="picker2" placeholder="Simulation End" [value]="endDate.value">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-4 mb-3">
              <mat-form-field>
                <mat-icon matPrefix>attach_money</mat-icon>
                <input matInput type="number" placeholder="Initial Capital Base" [value]="capitalBase">
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>
