<div class="container-fluid">
  <div class="body">
    <main role="main" class="container">
      <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-dark rounded box-shadow">
        <img class="mr-3" src="../../assets/icons/algo.png" alt="" width="48" height="48">
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">Algorithms</h6>
          <small>Explore what's out there</small>
        </div>
      </div>

      <div class="my-3 p-3 bg-white rounded box-shadow">
        <div class="border-bottom border-gray pb-2 mb-0">
          <h6>Recently Added</h6>
        </div>
        <div class="media text-muted pt-3">
          <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Random Forest Regression</strong>
              <a [routerLink]="['/algorithms/random-forest-regression']">Test it out</a>
            </div>
            <span class="d-block">Train a Random Forest Regression on the last 400 days of price changes.
            Predict the future price change, and trade on this prediction.</span>
          </div>
        </div>
        <div class="media text-muted pt-3">
          <img data-src="holder.js/32x32?theme=thumb&bg=e83e8c&fg=e83e8c&size=1" alt="" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Mean Reversion</strong>
              <a [routerLink]="['/algorithms/mean-reversion']">Test it out</a>
            </div>
            <span class="d-block">Every 20 days, filter out only the top 1% of stocks by Average Dollar Volume.
            Buy any stock below the Lower Bollinger Band, and sell any that are above the Upper Bollinger Band.</span>
          </div>
        </div>
        <div class="media text-muted pt-3">
          <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Buy Apple Everyday</strong>
              <a [routerLink]="['/algorithms/buy-apple']">Test it out</a>
            </div>
            <span class="d-block">Buy some shares of Apple (AAPL) at market open everyday until you run out of money.
              How much return can you make?</span>
          </div>
        </div>
        <small class="d-block text-right mt-3">
          <a href="#">All updates</a>
        </small>
      </div>

      <div class="my-3 p-3 bg-white rounded box-shadow">
        <div class="border-bottom border-gray pb-2 mb-0">
          <h6 style="display: inline">Naive Algorithms</h6>
          <p style="display: inline"> — Tracks and trades a predefined set of stocks based off a strategy</p>
        </div>
        <div class="media text-muted pt-3">
          <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Buy Apple Everyday</strong>
              <a [routerLink]="['/algorithms/buy-apple']">Test it out</a>
            </div>
            <span class="d-block">Buy some shares of Apple (AAPL) at market open everyday until you run out of money.
              How much return can you make?</span>
          </div>
        </div>
        <div class="media text-muted pt-3">
          <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Algorithm Name</strong>
              <a href="#">Test it out</a>
            </div>
            <span class="d-block">Description</span>
          </div>
        </div>
        <div class="media text-muted pt-3">
          <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Algorithm Name</strong>
              <a href="#">Test it out</a>
            </div>
            <span class="d-block">Description</span>
          </div>
        </div>
        <small class="d-block text-right mt-3">
          <a href="#">All suggestions</a>
        </small>
      </div>
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <div class="border-bottom border-gray pb-2 mb-0">
          <h6 style="display: inline">Advanced Algorithms</h6>
          <p style="display: inline"> — Dynamically searches the entire market
            for the best combination of stocks to hold together in a portfolio</p>
        </div>
        <div class="media text-muted pt-3">
          <img data-src="holder.js/32x32?theme=thumb&bg=e83e8c&fg=e83e8c&size=1" alt="" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Mean Reversion</strong>
              <a [routerLink]="['/algorithms/mean-reversion']">Test it out</a>
            </div>
            <span class="d-block">Every 20 days, filter out only the top 1% of stocks by Average Dollar Volume.
            Buy any stock below the Lower Bollinger Band, and sell any that are above the Upper Bollinger Band.</span>
          </div>
        </div>
        <div class="media text-muted pt-3">
          <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Algorithm Name</strong>
              <a href="#">Test it out</a>
            </div>
            <span class="d-block">Description</span>
          </div>
        </div>
        <div class="media text-muted pt-3">
          <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Algorithm Name</strong>
              <a href="#">Test it out</a>
            </div>
            <span class="d-block">Description</span>
          </div>
        </div>
        <small class="d-block text-right mt-3">
          <a href="#">All suggestions</a>
        </small>
      </div>
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <div class="border-bottom border-gray pb-2 mb-0">
          <h6 style="display: inline">Machine Learning Algorithms</h6>
          <p style="display: inline"> — A special class of algorithms that leverage various
            Machine Learning classifiers for making predictions</p>
        </div>
        <div class="media text-muted pt-3">
          <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Random Forest Regression</strong>
              <a [routerLink]="['/algorithms/random-forest-regression']">Test it out</a>
            </div>
            <span class="d-block">Train a Random Forest Regression on the last 400 days of price changes.
            Predict the future price change, and trade on this prediction.</span>
          </div>
        </div>
        <div class="media text-muted pt-3">
          <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Algorithm Name</strong>
              <a href="#">Test it out</a>
            </div>
            <span class="d-block">Description</span>
          </div>
        </div>
        <div class="media text-muted pt-3">
          <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Algorithm Name</strong>
              <a href="#">Test it out</a>
            </div>
            <span class="d-block">Description</span>
          </div>
        </div>
        <small class="d-block text-right mt-3">
          <a href="#">All suggestions</a>
        </small>
      </div>
    </main>
  </div>

</div>
