<mat-toolbar style="background-color: #c50000" class="fixed-header">
  <mat-toolbar-row>
    <button mat-button class="nav-option" routerLink="">Alpharithmic Trading</button>
    <button mat-button class="nav-option" routerLink="/tutorial">Tutorial</button>
    <button mat-button class="nav-option" routerLink="/algorithms">Algorithms</button>
    <button mat-button class="nav-option" routerLink="/build">Build Your Own</button>

    <div style="flex: 1 1 auto;"></div>

    <button mat-button class="nav-option"
            (click)="onLearnMoreClick()">Learn More</button>
  </mat-toolbar-row>
</mat-toolbar>
