<div class="container">

  <form>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Logs</label>
      <textarea class="form-control" id="exampleFormControlTextarea1"
                rows="10" [(ngModel)]="this.log" name="log"
                #scrollMe [scrollTop]="scrollMe.scrollHeight" readonly></textarea>
    </div>
  </form>


  <div id="graph" style="display: block; padding-top: 2.5%" *ngIf="done">
    <div style="text-align: end;">
      <h3>Final Alpha: </h3>
      <h4>{{ finalAlpha }}</h4>
    </div>
    <canvas baseChart [datasets]="dataset1"
            [labels]="xaxis"
            [chartType]="'line'"
            [options]="options"
            [colors]="colors">
    </canvas>

    <div style="padding-top: 1.5%; padding-bottom: 1.5%"></div>

    <canvas baseChart [datasets]="dataset2"
            [labels]="xaxis"
            [chartType]="'line'"
            [options]="options">
    </canvas>
  </div>

  <ng-container *ngIf="!done">
    <div class="spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>
</div>
